server:
  port: 8080
  servlet:
    context-path: /identity


spring:
  datasource:
    url: "jdbc:mysql://localhost:3480/identity_service"
    driverClassName: "com.mysql.cj.jdbc.Driver"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

jwt:
  signerKey: "oxwoomkJA6nij7/0MNXkbeB7k1j02ZJ4TD1niRH19uOelQyHiiwd4xqazjnhfevU"
  valid-duration: 20  # in second   (demo)
  refreshable-duration:  120  # in second    (demo)

app:
  services:
    profile:
      url: "http://localhost:8081/profile"
      name: "profile-service"
